@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";
@import "~bootswatch/dist/sandstone/bootstrap.min.css";

html,
body {
  background: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 68px;
}

.pointer {
  cursor: pointer;
}

.alert-light2 {
  background-color: #d3d3d3;
}

.dark {
  background-color: #8e8c84;
  color: $light;

  .badge-primary:hover {
    background-color: lighten($primary, 25%);
  }
  .badge-danger:hover {
    background-color: lighten($danger, 25%);
  }
  .alert-danger {
    background-color: $danger;
  }
  form {
    background-color: $dark;
  }
}

.light {
  background-color: $light;
  color: $dark;

  .badge-primary:hover {
    background-color: darken($primary, 25%);
  }
  .badge-danger:hover {
    background-color: darken($danger, 25%);
  }
  form {
    background-color: #d0d0d0;
  }
}
