<div>
  <div class="row">
    <div class="col-1 d-lg-none text-center"></div>
    <h3 class="text-center col-lg-3 col-5">Home</h3>
    <h3 class="text-center col-lg-3 col-5">Away</h3>
    <h3 class="text-center col-lg-2 d-none d-lg-block">Stats</h3>
    <h3 class="text-center col-lg-2 d-none d-lg-block">Schedule</h3>
    <h3 class="text-center col-lg-2 d-none d-lg-block">Streams</h3>
  </div>
  <div class="divider mb-3"></div>
  <div *ngFor="let game of games.dates[0].games; let last = last" class="mb-3">
    <app-game-showcase [game]="game"></app-game-showcase>
    <div class="divider" *ngIf="!last"></div>
  </div>
</div>
