<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"
    ><i class="fas fa-hockey-puck text-primary"></i> LazyWebApp</a
  >

  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault"
    aria-controls="navbarsDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="navbarsDefault"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a
          *ngIf="notIphone()"
          class="nav-link dropdown-toggle"
          id="id01"
          ngbDropdownToggle
          >Listes</a
        >
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/liste/1']">Entrées</a>
          <a class="dropdown-item" [routerLink]="['/liste/2']">Principals</a>
          <a class="dropdown-item" [routerLink]="['/liste/3']">Desserts</a>
        </div>
      </li>
      <div
        *ngIf="!notIphone()"
        class="p-3 mt-2 navbar-lighter bootswatch-border"
      >
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['//liste/1']">Entrées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['//liste/2']">Principals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['//liste/3']">Desserts</a>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ajouter']">Ajouter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/livre']">Livre</a>
      </li>
    </ul>
    <div class="container-toggle">
      <label id="switch" class="switch">
        <input
          type="checkbox"
          (change)="toggleTheme($event)"
          id="slider"
          checked=""
        />
        <span style="transform: translateY(4px);" class="slider round"></span>
      </label>
    </div>
  </div>
</nav>
