<div *ngIf="showError" class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap!</strong>
  <a href="#" class="alert-link">Change a few things up</a> and try submitting
  again.
</div>
<div
  class="container-fluid h-100 d-flex justify-content-center align-items-center flex-column"
>
  <h2 class="w-100 text-left">Login Panel</h2>
  <form [formGroup]="form" class="w-100 p-5 rounded">
    <input
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password"
    />
    <button class="btn btn-primary" (click)="login()">Login</button>
  </form>
</div>
