@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "./node_modules/bootswatch/dist/sandstone/bootswatch";

html,
body {
  background: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 68px;
}

.dark {
  background-color: #8e8c84;
  color: $light;
}

.light {
  background-color: #f8f5f0;
  color: $dark;
}

.pointer {
  cursor: pointer;
}
